:root {
  --color-main: #212121;
  --color-black: #000000;
  --color-second: #757575;
  --color-acent: #2196f3;
  --color-white: #ffffff;
  --color-grey: #2f303a;
  --color-facent: #188ce8;
  --color-lgrey: #f5f4fa;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-main);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*логотип */
.logo {
  text-decoration: none;
  color: var(--color-black);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

/* навигация  */
.navigation {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-main);
}
.navigation:hover,
.navigation:focus,
.prelogo,
.contact:hover,
.contact:focus {
  color: var(--color-acent);
}
.list {
  list-style: none;
}
.contact {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-second);
}

.footer-logo {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-white);
}

/* шапка */
.cap,
.basement {
  background-color: var(--color-grey);
}
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
}

.button-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-white);
  background-color: var(--color-acent);
  cursor: pointer;
}
.button-title:hover,
.button-title:focus {
  background: var(--color-facent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* особенности */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.title {
  font-weight: 700;
  line-height: 1.14;

  text-transform: uppercase;
}
.main-text {
  color: var(--color-second);
}

/* Чем мы занимаемся */
.doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/* команда */
.team {
  background-color: var(--color-lgrey);
}
.team-item {
  background-color: var(--color-white);
}
.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--color-second);
}

/* футер */

.footer-address {
  text-decoration: none;
  font-style: normal;
  color: var(--color-white);
}
.footer-link {
  text-decoration: none;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}
/* портфолио */
.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;

  background: var(--color-lgrey);
  border-radius: 4px;
  cursor: pointer;
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--color-white);
  background: var(--color-acent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
/* Примеры работ */
.example-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.example-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--color-second);
}
