:root {
  --color-main: #212121;
  --color-black: #000000;
  --color-second: #757575;
  --color-acent: #2196f3;
  --color-white: #ffffff;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-main);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

/*логотип */
.logo {
  text-decoration: none;
  color: var(--color-black);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
.prelogo {
  color: var(--color-acent);
}
/* навигация  */
.navigation {
  text-decoration: none;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--color-main);
}
.navigation:hover,
.navigation:focus-visible {
  color: var(--color-acent);
}
.list {
  list-style: none;
}
.contact {
  text-decoration: none;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--color-second);
}
.contact:hover,
.contact:focus {
  color: var(--color-acent);
}
.footer-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--color-white);
}

/* шапка */
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
  border: 1px solid var(--color-black);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-white);
  background-color: var(--color-acent);
}

/* особенности */
.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.main-text {
  letter-spacing: 0.03em;
  color: var(--color-second);
}

/* Чем мы занимаемся */
.doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
/* команда */
.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-text {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-second);
}

/* футер */
.footer-address {
  text-decoration: none;
  font-style: normal;
  color: var(--color-white);
}
.footer-link {
  text-decoration: none;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}
/* портфолио */
.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--color-white);
  background: var(--color-acent);
}
/* Примеры работ */
.example-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}
.example-text {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--color-second);
}
